body {

  h1, h2, h3, h4, h5, p, a  {
    font-family: adelle;
  }  

  header {
    text-align: center;
    position: relative;
    background: #6097d0;
    border-bottom: 10px solid #174a82;

    #navigation {
      margin-bottom: 50px;

      li {
      display: inline;
      margin: 0px 10px;
      }
      
      a {
        color: white;
      }
    }

    #search {
      margin-top: 50px;
      margin-bottom: 50px;

      .btn {
        background: #174a82;
        border: 2px solid #174a82;
        @include transition (0.3s ease-in-out);
      }

      .btn:hover {
        background: lighten(#174a82, 10%);
        border: 2px solid lighten(#174a82, 10%);
      }

      a {
        color: white;
      }
    }
  }

  #about {
    text-align: center;

    h2 {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    img {
      margin-bottom: 25px;
    }

    p {
      font-family: adelle;
      color: #174a82;
    }

  a {
    color: white;
  }

  .btn {
    background: #174a82;
    border: 1px solid #174a82;
    @include transition (0.3s ease-in-out);
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .btn:hover {
    background: lighten(#174a82, 10%);
    border: 1px solid lighten(#174a82, 10%);
  }
  }

  footer {
    text-align: center;
    background: #99B1C9;

    p {
      margin: 10px 0px;
      color: #174a82;
    }

    a {
      border-bottom: 1px dotted #174a82;
      color: #174a82;
    }
  }

  .category-list {

    li {
      display: inline;
    }
  }

  .question {
    text-align: left;

    h1, h2 {
      font-size: 24px;
      font-weight: bold;
    }

    ul {
      li {
        display: inline;
      }
    }
  }
}