// Modals.

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

// CSS

body {

  h1, h2, h3, h4, h5, p, a  {
    font-family: adelle;
  }

  a {
    color: #174a82;
  }

  a:hover {
    color: lighten(#174a82, 10%)
  }

  .btn a:hover {
    color: white;
  }

  header {
    text-align: center;
    position: relative;
    background: #6097d0;
    border-bottom: 10px solid #174a82;

    #navigation {
      margin-bottom: 50px;

      li {
      display: inline;
      margin: 0px 10px;
      }
      
      a {
        color: white;
        font-weight: bold;
        padding: 2px;
        @include border-radius(3px);

        @include transition (0.1s ease-in-out);
      }

      a:hover {
        background: white;
        color: #6097d0;
      }

      img {
      }
    }

    #search {
      margin-top: 50px;
      margin-bottom: 50px;

      .btn {
        background: #174a82;
        border: 2px solid #174a82;
        @include transition (0.3s ease-in-out);
      }

      .btn:hover {
        background: lighten(#174a82, 10%);
        border: 2px solid lighten(#174a82, 10%);
      }

      h3 {
        color: white;
      }

      a {
        color: white;
      }
    }
  }

  #nav1 {
    margin-bottom: 0;
    background: #6097d0;
    border-bottom: 10px solid #174a82;

    img {
      margin-top: 9px;
    }

    a {
      text-shadow: none;
      font-weight: bold;
    }

    a:hover {
      background: lighten(#6097d0, 10%);
    }
  }

  #search-nav {
    padding-top: 5px;

    .tab-nav {
      margin-top: -8px;
    }

    .or-ask-question {
      margin-top: 45px;
    }

    .ask-question {
      margin-top: 38px;
    }

    .btn {
    }

    .go {

      a {
        padding: 1px 12px;
      }
    }

    p {
      font-weight: bold;
    }
  }

  #search-nav.container {
    background: whitesmoke;
    border-bottom: 5px solid darken(whitesmoke, 10%);
  }

  #about {
    text-align: center;

    h2 {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    img {
      margin-bottom: 25px;
    }

    p {
      font-family: adelle;
      color: #174a82;
    }

  a {
    color: white;
  }

  .btn {
    background: #174a82;
    border: 1px solid #174a82;
    @include transition (0.3s ease-in-out);
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .btn:hover {
    background: lighten(#174a82, 10%);
    border: 1px solid lighten(#174a82, 10%);
  }
  }

  footer {
    text-align: center;
    background: #99B1C9;

    p {
      margin: 10px 0px;
      color: #174a82;
    }

    a {
      border-bottom: 1px dotted #174a82;
      color: #174a82;
    }
  }

  .category-list {

    li {
      display: inline;
    }
  }

  .question {
    text-align: left;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    ul {
      li {
        display: inline;
      }
    }
  }

  .results {
    h1 {
      font-size: 24px;
    }
  }

  .dashboard{
    background: #f3f3f3;

    h1 {
      font-size: 26px;
      font-weight: bold;
    }

    h2 {
      font-size: 22px;
      font-weight: bold;
    }

    .dash-head {
      margin-top: 20px;
    }

  }

  .environment {
    background: white;
    margin-bottom: 20px;
    @include border-radius (5px);
    @include box-shadow (0px 1px 3px rgba(50, 50, 50, 0.5));
    padding: 10px;
  }

  .asked {
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 20px;
  }

  .icon-up-dir {
    color: green;
    font-size: 40px;
  }

  .icon-down-dir{
    color: red;
    font-size: 40px;
  }

  ul.sidebar-ads {
    text-align: center;

    img {
      border: 5px solid #f7f7f7;
      @include border-radius (5px);
    }
  }

}